* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nova Square', sans-serif;
  }

:root {

}  

body {
  
}

/*Navbar*/
.nav-link:hover {
  background: #fff;
  color: #000 !important;
  border-radius: 10px;
}

.nav-link {
  border-bottom: 3px solid #fff;
}

.navbar-brand {
  background: #fff;
  color: black !important;
  border-radius: 10px;
}

nav a {
  font-size: 3vh !important;
}

/* Jumbotron */
.jumbotron {
  background-image: url(../images/heroimg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 5px solid black;
  height: 500px;
  color: #fff;
}

.jumbotron div h1, p {
  text-align: center;
  position: relative;
  top: 60px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  font-size: 7vh;
}

/* About Me */
.sectionHeaders {
  font-size: 7vh;
}

.aboutMeContent {
  font-size: 2vh !important;
  border: 1px solid black;
  background: rgba(0, 0, 0, 0.2);
  border-width: 5px;
  border-radius: 10px;
}

.sectionDivider {
  border-top: 6px solid black;
  border-radius: 5px 5px 5px 5px;
  border-width: 20px;
}

/* WorkSection */
.project1 {
  width: 100%;
  border: 6px solid black;
  border-radius: 10px; 
}

.project-1 {
  text-decoration: none !important;
}

.sectionOverlay {
  position: relative;
  bottom: 80px;
  width: 300px;
  background: #000;
  color: #fff;
  font-size: 4vh;
}

/* Contact Me */
.card {
  border: none !important;
}






